.container {
  .project1 {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
      width: auto;
      height: 300px;
      max-width: 100%;
    }

    .description {
      margin-left: 1rem;
    }
  }
}
