.container {
  .projects {
    margin: 5rem 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .project-pic {
      background-color: white;
      box-shadow: 0 0 5px rgb(130, 127, 127);
      img {
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 300px;

      p {
        text-align: justify;
      }
    }
  }
}
