.about-wrapper {
  background-color: rgba(208, 202, 202, 0.854);
  border-radius: 0.3rem;
  box-shadow: 0 0 5px rgb(79, 78, 78);
  margin-top: 5rem;

  .about {
    margin: 1rem 0;
    text-align: justify;
  }

  .about1 {
    height: 500px;
    padding: 0.5rem;

    .about-intro {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: justify;

      border-radius: 0.3rem;
    }

    .about-pic {
      background-image: url(../../images/lab.jpg);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0.3rem;
    }
  }
}
