.about-wrapper {
  background-color: rgba(165, 162, 162, 0.854);
  border-radius: 0.3rem;
  margin-bottom: 4rem;
  .about1 {
    height: 500px;
    padding: 1rem;

    .about-intro {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      text-align: justify;

      border-radius: 0.3rem;
    }

    .about-pic {
      background-image: url(../../images/lab.jpg);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0.3rem;
    }
  }
}
