.about-wrapper {
  border-radius: 0.3rem;
  margin-bottom: 4rem;
  .about1 {
    height: 600px;
    padding: 1rem;

    .about-intro {
      text-align: justify;
    }

    .about-pic {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}
