.footer {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;

  align-items: center;

  .linkedin,
  .research-gate {
    width: 60px;
    font-family: "Righteous", cursive;
  }

  .linkedin {
    margin-right: 0.5rem;
  }
}
